.Header {
  text-align: center;
}

.Header-logo {
  float: left;
  height: 80px;
  cursor: pointer;
}

.Header-body {
  background-color: #222;
  height: 120px;
  padding: 20px;
  color: white;
}

.Header-title {
  font-size: 2em;
}

.Login-state {
  float: right;
}
